@import "base/palette";

/**
 * Color
 */

$font_color_main: $p_shark;
$font_color_menu: $p_ship_cove;
$font_color_menu--hover: $p_pickled_bluewood_lighten;
$font_color_sidebar: $p_nepal;
$field_font_color: $p_gull_gray;
$button_primary_color: $p_cornflower_blue;
$border_color_main: $p_porcelain;
$field_border_color: $border_color_main;

/**
 * Font
 */

$font_family: 'Roboto', Arial, Helvetica, sans-serif;
$font_size_main: 14px;
$font_medium: 500;
$font_bold: 700;

/**
 * Button
 */

$button_sm: 12px;
$button_md: 14px;
$button_lg: 15px;

/**
 * Form
 */

$field_border: 1px solid $field_border_color;
$field_font_size: 15px;

/**
 * Misc
 */

$label_font_size: 13px;
$label--confirmed: $p_mantis;
$label--ghost: rgba($p_pickled_bluewood, 0.3);
$label_ls: 1.1px;

$border_radius_default: 4px;

$indent_base: 30px;

$box_shadow_default: 0 0 14px 3px rgba(0, 0, 0, 0.06);
