html,
body {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 240px 1fr;
  height: 100vh;
}

.box {
  position: relative;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}