/**
 * http://chir.ag/projects/name-that-color
 * color
 */
// Palette

$p_shark: #272c30;
$p_pickled_bluewood: #263649;
$p_pickled_bluewood_lighten: #2e4157;
$p_waikawa_gray: #597897;
$p_kashmir_blue: #577594;
$p_ship_cove: #7e9eb9;
$p_nepal: #98aec5;
$p_bali_hai: #91a5b8;
$p_gull_gray: #90a4ae;
$p_botticelli: #c4d1de;
$p_silver_sand: #bec2c7;
$p_athens_gray: #e6eaee;
$p_porcelain: #eceff1;
$p_zircon: #f1f6ff;
$p_white: #fff;
$p_cornflower_blue: #6699ea;

$p_mantis: #70c756;
$p_mandy: #ed4e67;
$p_wisp_pink: #fce5e8;
