.btn {
  display: inline-block;
  padding: 9px;
  color: $p_white;
  border-radius: $border_radius_default;
  text-align: center;
  border: none;
  cursor: pointer;

  @include transition(0.3s);

  &--primary {
    background-color: $button_primary_color;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.14);

    &:hover {
      background-color: darken($button_primary_color, 8);
    }
  }

  &--md {
    min-width: auto;
    width: auto;
  }

  &--lg {
    min-width: 160px;
    font-size: $button_lg;
  }
}

.btn-back {
  display: inline-flex;

  @include transition;

  &:hover {
    opacity: 0.7;
  }
}

.btn-send {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: $p_white;
  border-radius: 50%;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.14);

  @include transition;

  &:hover {
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.24);
  }
}
