.flights-notes {
  &_message {
    background-color: $p_zircon;
    padding: 10px 20px;
    border-radius: $border_radius_default;
    margin-bottom: 5px;
  }

  &_message-info {
    display: block;
    font-size: 12px;
    font-weight: $font_bold;
    color: $p_gull_gray;
    margin-bottom: 5px;
  }

  .field-area {
    width: 100%;
    min-height: 58px;
    padding-right: 60px;

    &-wrap {
      line-height: 0;
      margin-bottom: 10px;
    }
  }

  .btn-send {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }

  .custom-scroll {
    max-height: 238px;
  }

  .custom-scroll {
    .simplebar-track {
      background-color: #f2f6f9;
      width: 6px;

      &.simplebar-vertical {
        right: -18px;

        @media only screen and (max-width: 420px) {
          right: -11px;
        }
      }
    }

    .simplebar-scrollbar {
      width: 100%;
      right: 0;

      &::before {
        background-color: $p_botticelli;
        opacity: 1;
      }
    }
  }
}
