.label-list {
  display: flex;
  margin-bottom: 10px;

  .label {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.label {
  display: inline-block;
  font-size: 11px;
  font-weight: $font_medium;
  text-transform: uppercase;
  padding: 5px 9px;
  border-radius: $border_radius_default;
  color: $p_white;
  line-height: 1;
  letter-spacing: $label_ls;

  &--confirmed {
    background-color: $label--confirmed;
  }

  &--ghost {
    background-color: $label--ghost;
  }

  &--error {
    color: $p_mandy;
    background: rgba($p_mandy, 0.2);
  }
}
