.menu {
  &_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }

  &_link {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    color: $font_color_menu;
    padding: 17px 10px;

    @include transition;

    &:hover {
      background: #2e4157;
    }
  }

  &_submenu {
    width: 100%;
  }

  &_submenu-link {
    position: relative;
    padding-left: 60px;

    &::before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: $font_color_menu;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .icon-box {
    display: flex;
    justify-content: center;
    width: 40px;
    margin-right: 5px;
  }
}
