.tabs {
  &_nav {
    //display: flex;
    margin-bottom: 30px !important;
    margin-right: 30px !important;
    border-bottom: 2px solid $p_athens_gray;
  }

  &_link {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: $font_medium;
    color: inherit;
    padding: 14px 0;
    margin-right: 40px;

    @include transition(0.3s);

    &:last-of-type {
      margin-right: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 2px;
      background-color: $p_cornflower_blue;
      opacity: 0;

      @include transition(0.3s);
    }

    &--active,
    &:hover {
      color: $p_cornflower_blue;

      &::after {
        opacity: 1;
      }
    }
  }

  &_content-box {
    display: none;

    &--active {
      display: block;
    }
  }
}
