.table-styled {
  font-size: 14px;
  text-align: left;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  &_row {
    .table-styled_cell {
      $firstColWidth: 17%;

      width: (100% - $firstColWidth) / 4;

      &:first-child {
        min-width: 110px;
        width: $firstColWidth;
      }
    }
  }

  &_cell {
    border: 1px solid $p_athens_gray;
    padding: 10px 20px;
    border-spacing: 0;
  }

  &_head {
    font-weight: bold;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &_body {
    .table-styled_row {
      @include transition(0.2s);

      &:nth-child(odd) {
        background: #fafbfc;
      }

      &:hover {
        background: darken(#fafbfc, 2);
      }

      @media only screen and (max-width: 768px) {
        &:nth-child(odd),
        &:hover {
          background: none;
        }
      }
    }

    .table-styled_cell {
      @media only screen and (max-width: 768px) {
        display: block;
        min-height: 40px;
        text-align: right;
        min-width: 100% !important;
        margin-top: -1px;

        &::before {
          content: attr(data-label);
          float: left;
          font-weight: $font_bold;
        }
      }
    }
  }
}
