.col {
  .card {
    margin-top: -1px;

    &:first-child {
      margin-top: 0;
      border-top-left-radius: $border_radius_default;
      border-top-right-radius: $border_radius_default;
    }

    &:last-child {
      border-bottom-left-radius: $border_radius_default;
      border-bottom-right-radius: $border_radius_default;
    }
  }
}

.flights-status {
  .plain-name,
  .plain-number {
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: $font_medium;
  }

  .plain-number {
    margin-bottom: 8px;
  }

  .note {
    color: $p_bali_hai;
  }
}

.flights-info {
  .table {
    width: 100%;
  }

  .table_cell {
    padding: 5px 5px 5px 0;
    width: 50%;

    &--success {
      color: $p_mantis;
    }

    .label {
      font-size: 12px;
      font-weight: inherit;
      text-transform: none;
      padding: 3px 6px;
    }

    .percentage-value {
      display: inline-flex;
      margin-left: 10px;

      .icon-box {
        margin-right: 4px;
      }
    }

    .decorative {
      margin-left: 7px;
    }
  }
}
