doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet")
        title Dashboard
    body
        include includes/mixins
        .container
            include includes/sidebar
            main.content.custom-scroll
                .content_header
                    a(href="#").btn-back
                        +icon('chevron-left')
                .content_body
                    .col
                        .card.flights-status
                            span.plain-name MfgYear Make Model
                            span.plain-number Serial Number
                            .label-list
                                span.label.label--confirmed Confirmed
                                span.label.label--ghost Ghost
                            span.note Published to soljets.com
                        .card.flights-info
                            table.table
                                tr.table_row
                                    td.table_cell Fair Market Value:
                                    td.table_cell
                                        strong $955,500
                                tr.table_row
                                    td.table_cell Status:
                                    td.table_cell.table_cell--success
                                        strong For Sale
                                tr.table_row
                                    td.table_cell Days on Market:
                                    td.table_cell 50
                                tr.table_row
                                    td.table_cell Ask price:
                                    td.table_cell
                                        strong $955,500
                                        span.percentage-value
                                            +icon('arrow-up')
                                            | 11%
                                tr.table_row
                                    td.table_cell Take Price:
                                    td.table_cell
                                        strong $955,500
                                        span.percentage-value
                                            +icon('arrow-down')
                                            | 11%
                                tr.table_row
                                    td.table_cell Brokerage:
                                    td.table_cell AvPro
                                tr.table_row
                                    td.table_cell Damage:
                                    td.table_cell Low
                                        +icon('chevron-right')(class="decorative")
                                tr.table_row
                                    td.table_cell Pedigree:
                                    td.table_cell Medium
                                tr.table_row
                                    td.table_cell Next Inspection:
                                    td.table_cell
                                        span.label.label--error mm/dd/yy
                                tr.table_row
                                    td.table_cell
                                    td.table_cell Inspection Type

                        include includes/flights-notes
                    .col
                        include includes/tabs