.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  max-height: 100vh;
  padding: $indent_base;
  overflow: auto;

  &_header {
    margin-bottom: $indent_base;
  }

  .form {
    .btn {
      flex: 0;
    }
  }

  @media only screen and (max-width: 420px) {
    padding: $indent_base / 2;

    &_header {
      margin-bottom: $indent_base / 2;
    }
  }

  &_body {
    display: grid;
    grid-template-columns: 390px 1fr;
    grid-column-gap: 20px;
  }

  @media only screen and (max-width: 1140px) {
    &_body {
      grid-template-columns: 1fr;
    }
  }
}
