.sidebar {
  //position: fixed;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  max-height: 100vh;
  top: 0;
  left: 0;
  color: $font_color_sidebar;
  background-color: $p_pickled_bluewood;

  &_header,
  &_footer {
    padding: 24px 20px;
  }

  &_content {
    flex: 1;
    min-height: 100px;
  }

  &_trigger {
    display: inline-block;

    @include transition;

    &:hover {
      opacity: 0.6;
    }
  }

  .link-logout {
    display: inline-flex;
    align-items: center;
    color: inherit;

    .icon-box {
      margin-right: 14px;
    }

    @include transition;

    &:hover {
      opacity: 0.6;
    }
  }
}
