.js_sidebar--minimized {
  .container {
    grid-template-columns: 63px 1fr;
  }

  .sidebar {
    .menu_submenu {
      display: none;
    }

    .menu_title {
      display: none;
    }

    .menu_link,
    .link-logout {
      .icon-box {
        margin-right: 0;
      }
    }
  }
}
