.field {
  border: $field_border;
  font-size: $field_font_size;
  padding: 8px 16px;
  border-radius: $border_radius_default;

  @include placeholder {
    color: $p_gull_gray;
  }

  &:focus {
    outline: none;
  }
}
