.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;

  &_item {
    flex: 1 0 auto;
    max-width: 253px;
    width: 100%;
    margin-bottom: 15px;
  }

  &--inline {
    flex-direction: row;
    align-items: flex-end;

    .field-label {
      margin-right: 30px;
    }
  }
}

.field-label {
  display: flex;
  flex-direction: column;

  &_value {
    display: block;
    margin-bottom: 5px;
  }
}
