.select {
  position: relative;
  cursor: pointer;
  z-index: 1;

  .dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 507px;
    top: -1px;
    left: 100%;
    border: 1px solid #eceff1;
    background-color: #fff;
    //box-shadow: $box_shadow_default;

    .form {
      justify-content: space-between;
      margin-bottom: 0;
    }

    .field-label {
      max-width: 120px;
      margin-right: 0;
    }

    .btn {
      flex-grow: initial;
      padding-left: 20px;
      padding-right: 20px;
    }

    &--down {
      top: 100%;
      left: -1px;

      .dropdown_body,
      .dropdown_footer {
        padding-left: 8px;
        padding-right: 8px;
      }

      .field-label {
        max-width: none;
      }

      .btn {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    &_body,
    &_footer {
      padding: 11px 19px;
    }

    &_footer {
      padding-top: 20px;
      border-top: 1px solid #eceff1;
    }
  }

  &_placeholder {
    position: relative;
    background-color: #fff;
    border: 1px solid #eceff1;
    color: $p_gull_gray;
    padding: 8px 10px;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #97a4b7 transparent transparent transparent;
    }
  }

  &_options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #eceff1;
    margin-top: -1px;
    box-shadow: $box_shadow_default;
    z-index: -1;
  }

  &_option {
    padding: 10px;

    @include transition;

    &:hover {
      background-color: #e3f2fd;

      .dropdown {
        display: flex;
      }
    }
  }

  &.active {
    .select_options {
      display: block;
    }

    .field {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: $box_shadow_default;
    opacity: 0;
    z-index: -1;

    @include transition(0.2s);
  }
}
