.card.flights-notes
  .box.field-area-wrap
    textarea(name="note" placeholder="Press enter to post note...").field-area
    a(href="#").btn-send
      +icon('paper-plane')
  .flights-notes_list.custom-scroll#scroll
    - var i = 0;
      while i < 3
        .flights-notes_message
          .flights-notes_message-info mm/dd/yy by Cris S.
          .flights-notes_message-text Broker willing to take in the low 1's
        .flights-notes_message
          .flights-notes_message-info mm/dd/yy by Cris S.
          .flights-notes_message-text Broker willing to take in the low 1's
        .flights-notes_message
          .flights-notes_message-info mm/dd/yy by Cris S.
          .flights-notes_message-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        - i++
