aside.sidebar
  .sidebar_header
    a(href="#").sidebar_trigger
      +icon('menu')
  .sidebar_content.custom-scroll
    nav.menu
      .menu_item
        a(href="#").menu_link
          +icon('plane')
          span.menu_title Aircraft
      .menu_item
        a(href="#").menu_link
          +icon('chart-linear')
          span.menu_title Recent Sales
      .menu_item
        a(href="#").menu_link
          +icon('chart')
          span.menu_title Market Updates
      .menu_item
        a(href="#").menu_link
          +icon('calculator')
          span.menu_title FMV
        .menu_submenu
          a(href="#").menu_link.menu_submenu-link Manage Prices
          a(href="#").menu_link.menu_submenu-link Compare Costs
  .sidebar_footer
    a(href="#").link-logout
      +icon('logout')
      span.menu_title Logout
