.tabs
    .tabs_nav
        a(href="#overview").tabs_link Overview
        a(href="#maintenance").tabs_link Maintenance
        a(href="#transactions").tabs_link Transactions
        a(href="#utilization").tabs_link Utilization
        a(href="#history").tabs_link.tabs_link--active History
    .tabs_content
        #overview.tabs_content-box
            img(src="https://clipart-db.ru/file_content/rastr/rastr_animal_004.png" alt="cat" width="100%")
        #maintenance.tabs_content-box
            img(src="https://avatanplus.com/files/resources/mid/571e6c06075da1544ed5f78e.png" alt="cat" width="100%")
        #transactions.tabs_content-box
            img(src="https://clipart-db.ru/file_content/rastr/rastr_animal_004.png" alt="cat" width="100%")
        #utilization.tabs_content-box
            img(src="https://avatanplus.com/files/resources/mid/571e6c06075da1544ed5f78e.png" alt="cat" width="100%")
        #history.tabs_content-box
            .form.form--inline
                label.field-label.form_item
                    span.field-label_value Period
                    .select
                        input(type="hidden" value="")
                        .select_placeholder.field Select
                        .select_options
                            .select_option 3 Months
                            .select_option 6 Months
                            .select_option 1 Year
                            .select_option(data-custom-open="datepicker") Custom
                                #datepicker.dropdown
                                    .dropdown_body
                                    .dropdown_footer
                                        .form.form--inline
                                            label.field-label.form_item
                                                span.field-label_value From
                                                input(type="text" name="field_name" placeholder="07-13-2018").field
                                            label.field-label.form_item
                                                span.field-label_value To
                                                input(type="text" name="field_name" placeholder="07-13-2018").field
                                            a(href="#").btn.btn--primary.btn--md.form_item Apply
                                            a(href="#").btn.btn--primary.btn--md.form_item Cancel

                label.field-label.form_item
                    span.field-label_value Field Name
                    input(type="text" name="field_name" placeholder="Start typing...").field
                input(type="submit" value="Apply").btn.btn--primary.btn--lg.form_item
            .table-styled
                .table-styled_head
                    table
                        thead
                            tr.table-styled_row
                                th.table-styled_cell Date
                                th.table-styled_cell Updated By
                                th.table-styled_cell Field Name
                                th.table-styled_cell Previous Value
                                th.table-styled_cell New Value
                .table-styled_body
                    table
                        tbody.tbody
                            - var i = 0;
                            while i < 3
                                tr.table-styled_row
                                    td(data-label="Date").table-styled_cell mm/dd/yy
                                    td(data-label="Updated By").table-styled_cell Name
                                    td(data-label="Field Name").table-styled_cell Field Name
                                    td(data-label="Previous Value").table-styled_cell
                                    td(data-label="New Value").table-styled_cell
                                - i++
