.pseudo-icon {
  display: flex;

  &::before {
    content: '';
    display: inline-block;
    background: url('../../images/icons.svg') no-repeat;
  }
}

.pseudo-icon-arrow-down::before {
  background-position: 0 0;
  width: 8px;
  height: 15px;
}

.pseudo-icon-arrow-up::before {
  background-position: 0 -15px;
  width: 7px;
  height: 15px;
}

.pseudo-icon-calculator::before {
  background-position: 0 -30px;
  width: 15px;
  height: 17px;
}

.pseudo-icon-chart-linear::before {
  background-position: 0 -47px;
  width: 17px;
  height: 17px;
}

.pseudo-icon-chart::before {
  background-position: 0 -64px;
  width: 21px;
  height: 19px;
}

.pseudo-icon-chevron-left::before {
  background-position: 0 -83px;
  width: 11px;
  height: 19px;
}

.pseudo-icon-chevron-right::before {
  background-position: 0 -102px;
  width: 8px;
  height: 13px;
}

.pseudo-icon-logout::before {
  background-position: 0 -115px;
  width: 19px;
  height: 15px;
}

.pseudo-icon-menu::before {
  background-position: 0 -130px;
  width: 21px;
  height: 17px;
}

.pseudo-icon-paper-plane::before {
  background-position: 0 -147px;
  width: 16px;
  height: 17px;
}

.pseudo-icon-plane::before {
  background-position: 0 -164px;
  width: 17px;
  height: 18px;
}
